.navBar {
    width: 100%;
    height: 60px;
    position : fixed;
    background-position:top;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    z-index: 100;
    padding: 3vw;
}

.navBar_logo {
    margin-right: 40vw;
}

.navBar_onglets ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 30vw;
    padding-right: 5vw;
}

.search-container {
    padding-right: 5vw;
}

.search-container input {
    border: 1px solid rgba(0, 0, 0,1);
    border-radius: 4px;
}

.search-container button {
    border: 1px solid rgba(0, 0, 0,1);
    border-radius: 4px;
}

